{% extends "layout.html" %}
{% block main %}
  <h2>Get frequent reminders to donate to FOSS projects</h2>
  <img src=http://via.placeholder.com/450x200 alt="Exemplar fossfund email">
  <ol>
    <li><h2>Sign up</h2>
    <li><h2>Select some software you use</h2>
    <img src=http://via.placeholder.com/300x175 alt="Example of choosing software">
    <li><h2>Set your spending target and frequency</h2>
    <img src=http://via.placeholder.com/300x175 alt="Example of choosing spending target and frequency">
  </ol>
  <h3>Join {{numUsers}} FOSS supporters today!</h3>
  <a href=/about>About fossfund</a>

	<h1>Some projects</h1>
	{% from "macro.html" import softwareLayout %}
	{% for s in res %}
		{{ softwareLayout(s) }}
	{% endfor %}
{% endblock %}
