{% macro projectLayout( rec, link=True ) %}
<div>
  {% if rec.projects_logo %}
    <img src="{{rec.projects_logo}}" alt="Logo of {{rec.projects_name}}">
  {% endif %}
  {% if link %}<a href="/project/{{rec.projects_projID}}">{% endif %}
    <h2>{{rec.projects_name}}</h2>
  {% if link %}</a>{% endif %}
  {% if app.config.dev -%}
		<span>#{{rec.projects_projID}}</span>
	{% endif %}
  <p>{{rec.projects_desc or ''}}{% if not rec.projects_desc %}<em>No description</em>{% endif %}</p>
  {% if rec.orgs_orgID %}
    <div class=org>
      {% if rec.orgs_logo %}
        <img src="{{rec.orgs_logo}}" alt="Logo of {{rec.orgs_name}}">
      {% endif %}
      <p>{{rec.orgs_name}}</p>
    </div>
  {% endif %}
</div>
{% endmacro %}
