{% macro projectLayout(rec, link=True) %}
<div class=project>
  {% if rec.logo %}
    <img src="/static/project/{{rec.projID}}" alt="Logo of {{rec.name}}">
  {% endif %}
  {% if link %}<a href="/project/{{rec.projID}}">{% endif %}
    <h2>{{rec.name}}</h2>
  {% if link %}</a>{% endif %}
  {% if app.config.dev -%}
    <span>#{{rec.projID}}</span>
  {% endif %}
  <p>{{rec.desc or ''}}{% if not rec.desc %}<em>No description</em>{% endif %}</p>
  {% if rec.orgs_orgID %}
    <div class=org>
      {% if rec.orgs_logo %}
        <img src="/static/org/{{rec.orgs_orgID}}" alt="Logo of {{rec.orgs_name}}">
      {% endif %}
      <p>{{rec.orgs_name}}</p>
    </div>
  {% endif %}
</div>
{% endmacro %}
